<div class="container">
  <table class="table table-bordered" style="width: 100%;">
    <thead scope="row" class='thead-dark'>
      <th style="width: 20%;">Nome</th>
      <th style="width: 20%;">Cognome</th>
      <th style="width: 25%;">Codice Fiscale</th>
      <th style="width: 15%;">Data Di Nascita</th>
      <th style="width: 20%;">Options</th>
    </thead>
    <tr scope="row" *ngFor="let item of data?.dati">
      <th>{{ item.nome }}</th>
      <th>{{ item.cognome }}</th>
      <th>{{ item.codiceFiscale }}</th>
      <th>{{ item.dataDiNascita | date: "d-M-yyyy" }}</th>
      <th>
        <div class="box">
          <div>
            <button type="button" class="btn btn-primary">Modifica</button>
          </div>
          <div>
          <button type="button" class="btn btn-danger">Cancella</button>
        </div>
        </div>
      </th>
    </tr>
  </table>
</div>
