<nav  class="navbar navbar-light bg-light justify-content-between">
  <div style="display: flex; justify-content: start">
    <a class="navbar-brand">Dati anagrafici</a>
    <a class="nav-link" href="#" (click)="openModal()">Aggiungi nuovo dato<span class="sr-only">Add data</span></a>
  </div>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="Cerca"
      placeholder="Cerca"
      aria-label="Cerca"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Cerca
    </button>
  </form>
</nav>
